@{
    ViewData["Title"] = "Home Page";
}

<h1>Cookies Example</h1>
<form method="post" asp-controller="Home" asp-action="Index">

    <input placeholder="Enter Value" name="txtCookie" />
    <label>@ViewBag.message</label><br />
    <button type="Submit">Submit</button><br/>
    <a href="/Home/DeleteCookie">Delete Cookie</a>
   

</form>

